.main-container {
  font-size: 62.5%;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  height: 146px;
  margin: 0 auto;
}

.header-image {
  background: url("./resources/images/bg_s.png") no-repeat;
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
  overflow: hidden;
  flex: 1 1 0%;
  height: 30vh;
}

.title {
  color: #c5dbe5;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  letter-spacing: 1rem;
}

.sub_title {
  color: #96b9c2;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.text {
  color: #648585;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.axis-label {
  font-size: 1.5rem !important;
}
